.home {
    height: calc(100vh - 12rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1, p{
    color: #fff;
}

.home h1 {
    font-size: 4rem;
    line-height: 4rem;
}

.home p {
    margin: 2rem;
    font-size: 2rem;
}

.div-arrow {
    display: flex;
    justify-content: center;
}
.arrow {
    width: 35px;
}

.social {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.linkedin{
    width: 8rem;
}

.git {
    width: 3.5rem;
}

@media (min-width: 768px) { 

   .home {
        height: calc(100vh - 7rem);
   }
  
}