* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #0565d8;
    --secondary-color: #00398c;
    --bg-third-color: #4A4E69;
    --bg-color: #060619;
}


