/* 
    Styles - Menu Mobile 
*/


nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 1.5rem 1.5rem 0 0;
}


/*
    Button - Menu Hamburguer
*/


nav button {
    box-sizing: border-box;
    background-color: var(--bg-color);
    border: none;
    border-radius: 10%;
    margin-bottom: 1rem;
    cursor: pointer;
    padding: 0.7rem;
    transition: background-color 500ms ease-out;
}

.line {
    width: 1.5rem;
    height: 0.2rem;
    background-color: #fff;
    margin: 5px;
    border-radius: 2px;
}

.menu-active {
    border-radius: 10%;
    background-color: #fff;
    transition: background-color 500ms linear;

}

.menu-active div {
    background-color: var(--bg-color);
}


/*
    Menu
*/


.active {
    transition: opacity 500ms ease-in;
    opacity: 1;
    height: auto;
}

.disabled {
    transition: opacity 500ms ease-out;
    opacity: 0;
    height: 0!important;
    overflow: hidden;
}

#menu-mobile {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    top: 5rem;
    height: calc(100vh - 10rem);
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    background-color: var(--bg-color);
    border-left: 1px solid #fff;
    padding: 0 2rem 0 1rem;
}

#menu-mobile li {
    list-style: none;
}

#menu-mobile li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
}

#menu-mobile li a:hover {
    color: var(--primary-color);
}


/*
    MQ's
*/


@media (min-width: 768px) { 

  #button-menu, #menu-mobile {
    display: none;
  }

}