.projects {
    box-sizing: border-box;
    padding: 1.5rem;
}

.projects-title {
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.projects-title h1 {
    color: #fff;
    font-size: 2rem;
    width: 8.5rem;
}

.projects-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.projects-cards span {
    font-weight: 700;
    color: var(--primary-color);
}

.projects-cards p {
    font-weight: 300;
    color: #fff;
}

.card{
    border: solid var(--primary-color);
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    line-height: 1.5rem;
}

.card p {
    margin-bottom: 0.3rem;
}

.card p:nth-last-child(-n+2) {
    text-align: justify;
}


.card-img {
    border: 1px solid var(--bg-third-color);
    width: calc(100vw - 5rem);
    height: 12rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.card button {
    background-color: var(--primary-color);
    padding: 0.7rem 1rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 0.5rem;
    
}

.card button:hover {
    background-color: var(--secondary-color)
}

.card button a {
    text-decoration: none;
    color: #fff;
}

.card-git {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card-git p {
    color: #fff;
}

.card-div-img {
    display: flex;
    justify-content: center;
}




@media (min-width: 600px){

    .card {
        width: 60vw;
    }
    .card-img {
        width: 50vw;
        height: 15rem;
    }

}

@media (min-width: 1024px){

    .card {
        width: 60vw;
    }
    .card-img {
        width: 40vw;
       
    }

}

@media (min-width: 1280px){

    .card {
        width: 60vw;
    }
    .card-img {
        width: 50%;
       
    }

}


