

.skills {
    box-sizing: border-box;
    height: 60vh;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
   
}


.skills-title {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.skills-title h1 {
    color: #fff;
    font-size: 2rem;
}

.skills-icons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.skills-icons div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


@media (max-height: 800px) {
    .skills {
        height: 80vh;
    }
}